body {
background: #000;;
}
#controls {
margin-left: 15px;
padding: 0;
}
#slider_value {
vertical-align: 10px;
width: 200px;
margin-left: 90px;
}
#scaleOutput {
position: absolute;
width: 60px;
height: 30px;
margin-left: 10px;
vertical-align: center;
text-align: center;
color: Black;
font: 20px Verdana;
}
#mycanvas {
margin: 10px 20px 0px 20px;
border: thin solid Black;
cursor: crosshair;
}